# exculde everyting
/*

# except .bash* files
!.bash_logout
!.bash_profile
!.bashrc
!.bashrc.root

# except some .config directories
!/.config
/.config/*
!/.config/nvim

# except .github directory
!/.github
!/.github/*

# except .gitignore
!.gitignore

# except some .local directories
!/.local
/.local/*
!/.local/share
/.local/share/*
!/.local/share/nvim

# except .npmrc
!.npmrc

# except .screenrc
!.screenrc

# except .tmux.conf
!.tmux.conf

# except .vimrc
!.vimrc

# except .vim directory
!/.vim
!/.vim/*
.vim/.netrwhist
.vim/plug
.vim/shada
.vim/swap
#.vim/indent

# except etc/profile.d directory
!/etc
/etc/*
